---
import BaseLayout from "~/layouts/base-layout.astro";
---

<BaseLayout>
    <section id="banner" class="flex flex-col gap-4 my-8">
        <h1 class="text-xl font-medium">404 - Page not found</h1>
        <p>
            It looks like you are lost, <a href="/" class="underline hover:decoration-wavy decoration-[0.1em]">go home.</a>
        </p>
    </section>
</BaseLayout>